.text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    margin: auto;
}

.Texts {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-left: 50%
    
}

.otherText {
    list-style-type: none;
    background-color: skyblue;
    border-radius: 40px;
    margin-bottom: 10px;
    width: min-content;
    word-wrap: break-word;
    text-align: left;
    position: relative;
    padding: 30px;
    display: flex;
}

.pfp {
    height: 30px;
    border-radius: 50%;
    float: left;
}

.ownText {
    list-style-type: none;
    background-color: grey;
    padding: 30px;
    border-radius: 40px;
    float: right;
    margin-left: -60%;
    margin-bottom: 10px;
    width: min-content;
    max-width: 50%;
    word-wrap: break-word;
    text-align: left;
    position: relative;
}

