.text-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 400px;
    margin: auto;
}

.Texts {
    list-style-type: none;
    background-color: skyblue;
    padding: 30px;
    border-radius: 40%;
    float: bottom;
    margin-left: 85%;
    margin-bottom: 10px;
    width: 50%;
    word-wrap: break-word;
    text-align: left;
}